.super{
  flex-direction: column;
  background-color: #fff2e6;
  position: absolute; top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.box1{

  flex-shrink: 0;
}
.top-container{
  flex: 1 0 0;
  background-color: #a6a6a6;
  width: 100%;
  height: 60px;

  position: absolute; top: 0;
  position: absolute; top: 0;
}

.box2{
  flex: 3 0 0;
  flex-shrink: 0;
}
.container{
  position: absolute; top: 0;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;

}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

h1{
  color:white;
  font-family: Helvetica;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 15px;
  font-weight: lighter;
  font-stretch: ultra-expanded;
}

h2{
  font-family: Verdana;
  font-weight: lighter;
  font-stretch: ultra-expanded;
}

p{
  font-family: Arial;
  font-size: 110%
}

button{
  font-family: Helvetica;
  font-size: 120%
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h2{
    font-family: Verdana;
    font-weight: lighter;
    font-stretch: ultra-expanded;
    margin-top: 20%;
  }

  .container{
    position: absolute; top: 0;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .super{
    overflow-y: scroll;
  }
}
